{% extends 'partials/base_page.html.twig' %}

{% do assets.addCss('theme://css/collection.css', 105) %}

{% block content %}

{{ content }}

{% if page.header.mediahead %}
<h2>{{ page.header.mediahead }}</h2>
{% endif %}

{% if page.header.mediaitems %}
  <section class="p-grid2">
     {% for mediaitem in page.header.mediaitems %}

         <article class="item2" >
          <div tabindex="0" class="pik2b" style="background-image:url({{ mediaitem.image }});">
            {{ mediaitem.frame }}
          </div>
          <div class="words">
            <p class="title">{{ mediaitem.hed }}</p>
            <p class="sub">{{ mediaitem.dek }}</p>
          </div>
         </article>

     {% endfor %}
  </section>
{% endif %}

{% if page.header.itemhead %}
<h2>{{ page.header.itemhead }}</h2>
{% endif %}

{% if page.header.items %}
  <section class="p-grid" >
     {% for item in page.header.items %}

         <article class="item" >
         <a href="{{ item.link }}"><div class="pik" tabindex="0">
					 {{ page.media[item.image].html() }}
         </div></a>
         <div class="words" >
           <a href="{{ item.link }}"><p class="title">{{ item.hed }}</a></p>
           <p class="sub">{{ item.dek }}</p>
         </div>
         </article>

     {% endfor %}
  </section>
{% endif %}



  {% if page.header.listhead %}
  <h3>{{ page.header.listhead }}</h3>
  {% endif %}


  {% if page.header.listlinks %}
  <ul class="list2">
  {% for listlink in page.header.listlinks %}
  <li><a href="{{ listlink.link }}">{{ listlink.name }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}

  <svg width="0" height="0">
    <filter id="grayscale-filter">
      <feColorMatrix type="saturate" values="0"/>
    </filter>
  </svg>

  <!-- link / svg filter color:
  HSL: 0° 50% 50%; RGB: 191 64 64; Hex: #BF4040; RGBA: 0.749 0.250 0.250 0 -->

  <svg width="0" height="0">
    <filter id="colorize" color-interpolation-filters="sRGB" >
      <feColorMatrix type="matrix"
       values="0.251 0 0 0 0.749
               0.75 0 0 0 0.25
               0.75 0 0 0 0.25
               0 0 0 1 0" />
    </filter>
  </svg>

  <svg width="0" height="0">
    <filter id="contrast">
      <feComponentTransfer>
        <feFuncR type="linear" slope="2" intercept="-(0.5 * 1) + 0.5"/>
        <feFuncG type="linear" slope="2" intercept="-(0.5 * 1) + 0.5"/>
        <feFuncB type="linear" slope="2" intercept="-(0.5 * 1) + 0.5"/>
      </feComponentTransfer>
    </filter>
  </svg>

  {% endblock %}
